 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* reset */
 
 * {
     padding: 0;
     margin: 0;
     /* box-sizing: border-box; */
     font-family: Poppins;
     font-size: 22px;
     font-weight: 500;
 }
 
 header {
     width: 100%;
     height: 5vh;
 }
 
 .navbar-brand {
     margin-left: 30px
 }
 
 .navbar-nav {
     margin-right: 50px;
 }
 
 main {
     background-image: url("../images/e8c82ac3b9067a37851876ca5fd2709a.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: 50px
 }
 
 .img-overlay {
     height: 90vh;
     background-color: rgba(0, 0, 0, 0.65);
     display: flex;
     justify-content: center;
     width: 100%;
 }
 
 .container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 75vh;
     align-items: center;
     padding-top: 6em;
 }
 
 .container h4 {
     text-transform: uppercase;
     color: #fff;
     font-size: 50px;
     line-height: 1.5;
 }
 
 .btn {
     padding: 12px 20px;
     font-size: 25px;
     outline: none;
     font-weight: 700;
     cursor: pointer;
     /* text-transform: capitalize; */
     border: none;
     border-radius: 25px;
     margin-top: 50px;
     background-color: #0D6EFD;
     color: #fff
 }
 
 .btn:hover {
     color: #0D6EFD;
     background-color: #fff;
 }
 
 #questions {
     margin-bottom: 8.5em;
     height: 30vh
 }
 
 .qa-text {
     margin-top: 3rem;
     text-transform: capitalize;
     margin-bottom: 1.2em;
     text-decoration: underline;
 }
 
 .accordion {
     /* margin-top: 1rem; */
     margin-bottom: 1rem;
     width: 100%;
 }
 
 
 footer {
     text-align: center;
     margin-top: 5em;
     margin-bottom: 1em;
 }
 
 @media(max-width:900px) {
     .container h4 {
         font-size: 40px;
     }
 }
 
 @media(max-width:600px) {
     .container h4 {
         font-size: 27px;
     }
     #reduce-text{
         font-size: 20px;
     }
     
 }
 
 
 @media(max-width:750px) {
     .qa-text {
         margin-bottom: 3em;
     }
     #questions {
     margin-bottom: 12em;
 }
}
 @media(max-width:445px) {
     .qa-text {
         margin-bottom: 4em;
     }
     .navbar-brand{
         font-size: 15px;
         margin-left: -10px;
     }
 }
  @media(max-width:400px) {
     .qa-text {
         margin-bottom: 6em;
     }
     #questions {
     margin-bottom: 14em;
 }
    }
  @media(max-width:330px) {
     .qa-text {
         margin-bottom: 8em;
     }
     #questions {
     margin-bottom: 17em;
 }
    }
  @media(max-width:280px) {
     .qa-text {
         margin-bottom: 9.5em;
     }
     #questions {
     margin-bottom: 18.5em;
 }
    }