
.contributors{
    margin-top: 50px;
}

.contributors button{
    padding-right: 70px;
    padding-left: 50px;
    
}


/* LET FIRST CHILD GIVE SPACE */
.contributors__wrapper ul li:is(:first-child){
    padding-top: 20px;
}

.contributors__wrapper ul li{
    padding-right: 70px;
    padding-left: 50px;
}

.contributors .custom-bg-blue{
    background-color: #0D6EFD;
}

.contributors__name a{
    font-size: 20px;
}
.contribution__counter{
    font-size: 19px;
}

@media(max-width: 950px){
    .contributors button{
        padding-right: 20px;
        
    }
    
    .contributors__wrapper ul li{
        padding-right: 18px;
    }
    
      
}

@media(max-width: 600px){
    .contributors button{
        padding-left: 20px;
        
    }
    
    .contributors__wrapper ul li{
        padding-left: 18px;
    }
    
      
}